main {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    color: #2a484e;
    padding: 15px;
    margin-bottom: 150px;
}

main * {
    font-family: 'Nunito', sans-serif;
    color: #2a484e;
}


/* Navbar */

.navbar {
    font-family: 'Varela Round', sans-serif;
    background-color: #dde8ea;
}

.navbar-brand {
    text-align: right;
    padding: 5px 15px;
    color: #2a484e;
}

.navbar-brand h1 {
    font-size: 2rem;
}

.navbar-brand h2 {
    font-size: 1.5rem;
}

.nav-item a {
    font-size: 1.25rem;
    color: #2b7375;
}

/* Call to action - create an event */

.action-call {
    color: #08bd05 !important;
    font-weight: 900;
}

/* Login page */

.auth-container {
    height: 60vh;
    max-width: 1200px;
    padding: 30px;
    color: #2a484e;
}

.auth-container input {
    width: 200px;
    font-size: 1rem;
}


.auth-button, .submit-button {
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #72daba;
    color: #2a484e;
    font-size: 1.25rem;
    font-weight: 600;
}

.auth-button {
    width: 100px;
}

.submit-button {
    width: 150px;
}

.auth-button:hover, .submit-button:hover {
    color: #72daba;
    background-color: #2a484e;
}

/* Making sure entire create event form is displayed */

.create-event-form-container {
    margin-bottom: 125px;
}

/* Event details */

.event-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    position: relative;
    object-position: center 60%;
    border-radius: 5px;
}

.event-name {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 900;
}

.event-info-btn {
    background-color: #72daba;
    width: 250px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: #2a484e;
    font-weight: 600;
}

.event-btn-a {
    text-decoration: none;
}

.event-info-btn:hover {
    color: #72daba;
    background-color: #2a484e;
}

.delete-btn {
    background-color: #ffffff;
    color: #ff5042 !important;
}

.delete-btn:hover {
    background-color: #dde8ea;
}

/* Footer */

footer {
    background-color: #2a484e;
    font-size: 1.25rem;
    color: #dde8ea;
}

footer .row {
    min-height: 100px;
}

footer a {
    font-size: 2rem;
    color: #dde8ea;
    padding: 0 5px;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    .nav-item {
        border-right: 1px solid #2a484e;
        border-left: 1px solid #2a484e;
        padding: 0 15px;
    }
    .nav-item:first-child, .nav-item:last-child {
        border: 1px groove #2a484e;
    }
}
