:root {
    --dark-blue: #2A6277;
    --medium-blue: #2B73A4;
    --light-blue: #D1E8F9;
    --light-green: #6be2ce;
    --bright-green: #08bd05;
    --delete: #ff5042;
}

body {
    position: relative;
}

main {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: var(--dark-blue);
    padding: 15px;
    margin-bottom: 150px;
    min-height: 80vh;
}

main * {
    font-family: 'Nunito', sans-serif;
    color: var(--dark-blue);
}


/* Navbar */

.navbar {
    font-family: 'Varela Round', sans-serif;
    background-color: var(--light-blue);
}

.navbar-brand {
    text-align: right;
    padding: 5px 15px;
    color: var(--dark-blue);
}

.navbar-brand h1 {
    font-size: 2rem;
}

.navbar-brand h2 {
    font-size: 1.5rem;
}

.nav-item a {
    font-size: 1.25rem;
    color: var(--medium-blue);
}

/* Homepage cards buttons */

.event-btn {
    width: 40%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-green);
    color: var(--dark-blue);
    font-size: 1.25rem;
    font-weight: 600;
}

.event-btn:hover {
    background-color: var(--dark-blue);
    color: var(--light-green);
}

.like-btn {
    border: none;
}

/* Call to action - create an event */

.action-call {
    color: var(--bright-green) !important;
    font-weight: 900;
}

/* Login page */

.auth-container {
    max-width: 1200px;
    padding: 30px;
    color: var(--dark-blue);
}

.auth-container input {
    width: 200px;
    font-size: 1rem;
}


.auth-button, .submit-button {
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-green);
    color: var(--dark-blue);
    font-size: 1.25rem;
    font-weight: 600;
}

.auth-button {
    width: 100px;
}

.submit-button {
    width: 150px;
}

.auth-button:hover, .submit-button:hover {
    color: var(--light-green);
    background-color: var(--dark-blue);
}

/* Making sure entire create event form is displayed */

.create-event-form-container {
    margin-bottom: 125px;
}

/* Event details */

.event-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    position: relative;
    object-position: center 40%;
    border-radius: 5px;
}

.event-name {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 900;
}

.event-info-btn {
    background-color: var(--light-green);
    width: 250px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: var(--dark-blue);
    font-weight: 600;
}

.event-btn-a {
    text-decoration: none;
}

.event-info-btn:hover {
    color: var(--light-green);
    background-color: var(--dark-blue);
}

.delete-btn {
    background-color: #fff;
    color: var(--delete) !important;
}

.delete-btn:hover {
    background-color: var(--light-blue);
}

/* Footer */

footer {
    background-color: var(--dark-blue);
    font-size: 1.25rem;
    color: var(--light-blue);
}

footer .row {
    min-height: 100px;
}

footer a {
    font-size: 2rem;
    color: var(--light-blue);
    padding: 0 5px;
}

.card-img-top {
    height: 20vh;
    object-fit: cover;
}

.placeholder-card-img {
    object-fit: contain;
}

.date-text {
    font-size: 0.8rem;
}

.page-btn {
    color: var(--medium-blue) !important;
    font-weight: 600 !important;
}

.page-btn:hover {
    color: var(--bright-green);
    background-color: var(--light-blue)
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .nav-item {
        border-right: 1px solid var(--dark-blue);
        border-left: 1px solid var(--dark-blue);
        padding: 0 15px;
    }
    .nav-item:first-child, .nav-item:last-child {
        border: 1px groove var(--dark-blue);
    }
}

@media screen and (max-width: 1200px) {
    main  {
        font-size: 1em;
    }

    .event-btn {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
        bottom: 0;
        position: relative !important;

    }
}
