body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
}

/* Navbar */

.navbar {
    font-family: 'Varela Round', sans-serif;
    background-color: #dde8ea;
}

.navbar-brand {
    text-align: right;
    padding: 5px 15px;
    color: #2a484e;
}

.navbar-brand h1 {
    font-size: 2rem;
}

.navbar-brand h2 {
    font-size: 1.5rem;
}

.nav-item a {
    font-size: 1.25rem;
    color: #2b7375;
}

/* Call to action - create an event */

.action-call {
    color: #08bd05 !important;
    font-weight: 900;
}

/* Login page */

.login-container {
    height: 60vh;
    max-width: 1200px;
    padding: 30px;
}

.login-container input {
    width: 200px;
    font-size: 1rem;
}


.login-button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #72daba;
    color: #2a484e;
    font-size: 1.25rem;
    font-weight: 600;
}

.login-button:hover {
    color: #72daba;
    background-color: #2a484e;
}

/* Footer */

footer {
    background-color: #2a484e;
    font-size: 1.25rem;
    color: #dde8ea;
}

footer .row {
    min-height: 100px;
}

footer a {
    font-size: 2rem;
    color: #dde8ea;
    padding: 0 5px;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    .nav-item {
        border-right: 1px solid #2a484e;
        border-left: 1px solid #2a484e;
        padding: 0 15px;
    }
    .nav-item:first-child, .nav-item:last-child {
        border: 1px groove #2a484e;
    }
}