{% extends "base.html" %}
{% block content %}
<div class="px-3 py-3">
  <h3 class="event-name">
    {{ event.name }}
  </h3>
  <p>by {{ event.owner }}
  </p>
  <p>{{ event.start_date }}
  </p>
  {% if 'default_image' in event.cover_image.url %}
  <img src="https://res.cloudinary.com/dnyznztuw/image/upload/v1682805988/volunteers-needed_q9acog.jpg" class="event-image" alt="Event Image">
  {% else %}
  <img src="{{ event.cover_image.url }}" class="event-image" alt="Event Image">
  {% endif %}
</div>
<div class="continer px-3">
  <div class="row px-5">
    <div class="col-6 col-md-3 col-xl-1">
      <form method="post" action="{% url 'like_event' event_id=event.pk %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="like-btn">
          {% if user in event.likes.all %}
          <span>
            <i class="fas fa-heart">
            </i>
          </span>
          {% else %}
          <span>
            <i class="far fa-heart">
            </i>
          </span>
          {% endif %}
        </button>
        <span>{{ event.number_of_likes }}
        </span>
      </form>
    </div>
    <div class="col-6 col-md-3 col-xl-1">
      <span>
        <i class="far fa-user">
        </i>
      </span>
      <span>{{ event.number_of_participants }}
      </span>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-8">
      <div class="col">
        <p>{{ event.summary }}
        </p>
      </div>
      <div class="col">
        <h4>About this event
        </h4>
      </div>
      <div class="col">
        <p>{{ event.description }}
        </p>
      </div>
      <div class="col">
        <h4>Date, Time & Location
        </h4>
        <div class="col-md-6">
          <i class="fa-solid fa-calendar">
          </i> {{ event.start_date }}, {{ event.start_time }} - {{ event.end_date }}, {{event.end_time}}
        </div>
        <div class="col-md-6">
          <i class="fa-solid fa-location-dot">
          </i> {{ event.address }}, {{ event.city }}, {{ event.country }}
        </div>
      </div>
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-4 pt-5">
      {% if user != event.owner and not user in event.participants.all %}
      <form method="post" action="{% url 'join_event' event_id=event.pk %}">
        {% csrf_token %}
        <button type="submit" class="d-block event-info-btn">Sign Up to this event
        </button>
      </form>
      {% elif user == event.owner  %}
      <a href="{% url 'edit_event' event_id=event.pk %}" class="event-btn-a">
        <button class="d-block event-info-btn">Edit Event
        </button>
      </a>
      <a href="{% url 'delete_event' event_id=event.pk %}" class="event-btn-a">
        <button class="d-block event-info-btn delete-btn">Delete Event
        </button>
      </a>
      {% endif %}
      {% if user in event.participants.all %}
      <div class="row pt-3">
        <form method="post" action="{% url 'leave_event' event_id=event.pk %}">
          {% csrf_token %}
          <button type="submit" class="d-block event-info-btn delete-btn">Leave Event
          </button>
        </form>
      </div>
      {% endif  %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
