{% extends "base.html" %}

{% block content %}
    <div class="px-3 py-3">
        {% if 'default_image' in event.cover_image.url %}
            <img src="https://res.cloudinary.com/dnyznztuw/image/upload/v1682805988/volunteers-needed_q9acog.jpg" class="event-image" alt="Event Image">
        {% else %}
            <img src="{{ event.cover_image.url }}" class="event-image" alt="Event Image">
        {% endif %}
    </div>
    <div class="continer px-3">
        <div class="row pt-5">
            <div class="col-md-8">
                <h3 class="event-name">
                    {{ event.name }}
                </h3>
                <p>{{ event.event_start.date }}</p>
            </div>
            {% if user.is_authenticated %}
                <div class="col-md-4">
                    {% if user != event.owner and not user in event.participants.all %}
                    <form method="post" action="{% url 'join_event' event_id=event.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="d-block event-info-btn">Sign Up to this event</button>
                    </form>
                    {% elif user == event.owner  %}
                    <a href="{% url 'edit_event' event_id=event.pk %}" class="event-btn-a">
                        <button class="d-block event-info-btn">Edit Event</button>
                    </a>
                    <a href="{% url 'delete_event' event_id=event.pk %}" class="event-btn-a">
                        <button class="d-block event-info-btn delete-btn">Delete Event</button>
                    </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="row pt-3">
            <div class="col">
                <p>{{ event.summary }}</p>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <h4>About this event</h4>
            </div>
            <div class="col-12">
                <p>{{ event.description }}</p>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <h4>Date, Time & Location</h4>
            </div>
            <div class="col-md-6">
                <i class="fa-solid fa-calendar"></i> {{ event.event_start }} - {{ event.event_end }}
            </div>
            <div class="col-md-6">
                <i class="fa-solid fa-location-dot"></i> {{ event.address }}, {{ event.city }}, {{ event.country }}
            </div>
        </div>
        {% if user in event.participants.all %}
            <div class="row pt-3">
                <p>If you would like to cancel your participation in this event please click the button Leave Event bellow</p>
                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="d-block event-info-btn delete-btn">Leave Event</button>
                </form>
            </div>
        {% endif  %}
    </div>
{% endblock %}