{% extends "base.html" %}

{% block content %}
    <div class="px-3 py-3">
        {% if 'default_image' in event.cover_image.url %}
            <img src="https://res.cloudinary.com/dnyznztuw/image/upload/v1682805988/volunteers-needed_q9acog.jpg" class="event-image" alt="Event Image">
        {% else %}
            <img src="{{ event.cover_image.url }}" class="event-image" alt="Event Image">
        {% endif %}
    </div>
    <div class="continer px-3">
        <div class="row pt-5">
            <div class="col-md-8">
                <h3 class="event-name">
                    {{ event.name }}
                </h3>
                <p>{{ event.event_start.date }}</p>
            </div>
        </div>
    </div>
{% endblock %}