{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3><strong>Upcoming events</strong></h3>
            </div>
        </div>
        <div class="row">
            <div id="event-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner w-80" role="lsitbox">
                    <div class="carousel-item active" role="option">
                        <div class="col-md-4 col-xl-3 mx-1">
                            placeholder
                        </div>
                    </div>
                    {% for event in queryset %}
                        <div class="carousel-item" role="option">
                            <div class="col-md-4 col-xl-3 mx-1">
                               <div class="card">
                                    <!-- Display default image for events with no submitted image based on I think therefore I blog walkthrough project -->
                                    {% if 'default_image' in event.cover_image.url %}
                                        <img src="https://res.cloudinary.com/dnyznztuw/image/upload/v1682267748/nextdoor-charity_bo8wt8.jpg" alt="default event cover image" class="card-img-top">
                                    {% else %}
                                        <img src="{{ event.cover_image.url }}" alt="event cover image" class="card-img-top">
                                    {% endif %}
                                    <div class="card-body">
                                        <h4 class="card-title">{{ event.name }}</h4>
                                        <p class="card-subtitle text-muted">{{ event.event_start }} - {{ event.event_end }}</p>
                                        <p class="card-text">{{ event.city }}, {{ event.country }}</p>
                                        {% if user.is_authenticated %}
                                            <a href="" class="event-btn">View Event</a>
                                            <a href="" class="event-btn">Join Event</a>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-6">
                                                    <span><i class="far fa-heart"></i></span>
                                                    <span>{{ event.number_of_likes }}</span>
                                                </div>
                                                <div class="col-6">
                                                    <span><i class="far fa-user"></i></span>
                                                    <span>{{ event.number_of_participants }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="#event-carousel" class="carousel-control-prev" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a href="#event-carousel" class="carousel-control-next" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}